<h1 class="bg-secondary p-2 text-center">Giỏ Hàng</h1>
<table class="table table-hover table-bordered">
    <tr>
        <th>Ảnh</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th>Xóa</th>
    </tr>
    <tr ng-repeat="sp in cart">
        <td><img src="images/{{sp.anh}}" alt="" style="width: 45px; height: 45px; justify-content: center;" ></td>
        <td>{{sp.name | uppercase}}</td>
        <td>{{sp.giagiam |number }} VNĐ</td>
        <td><input type="number" class="text-center p-2" ng-model="sp.soluong" min="1" max="100"></td>
        <td>{{sp.soluong * sp.giagiam |number}} VNĐ</td>
        <td>
            <button class="btn btn-danger px-3 text-center" ng-click="xoa($index)">X</button>
        </td>
    </tr>
    <tr>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th>{{tongsoluong()}}</th>
        <th class="border-0">{{tongtien() |number}} VNĐ</th>
        <th class="border-0"></th>
    </tr>
    <tr>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0">
            <button class="btn btn-primary">Thanh Toán</button>
        </th>
    </tr>
</table>
