  
    <style>
      .link-tc{
        text-decoration: none;
        color: black;
        font-size: 18px;
      }

      .btnx-1:hover{
        background-color: red !important;
        color: white;
      }
    </style>

<body>

    <div class="container ">
      <p><a href="#!" class="link-tc">Trang chủ</a>  <Span class="text-secondary"> / Điện thoại</Span></p>   
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div class="card col-sm-12 mb-3 w-100">
            <div class="row">
              <div class="col-sm-3">
                <p class="fs-4 text-primary mx-2 my-2" style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Laptop</strong></p>
              </div>
              <div class="col-sm-9 d-flex justify-content-end my-2">
                <button class="btn border rounded-5 mx-1" style="font-weight: bold;">Tên A -> Z</button>
                <button class="btn border rounded-5 mx-1" style="font-weight: bold;">Tên Z -> A</button>
                <button class="btn border rounded-5 mx-1" style="font-weight: bold;">Giá tăng dần</button>
                <button class="btn border rounded-5 mx-1" style="font-weight: bold;">Giá giảm dần</button>
                <button class="btn border rounded-5 mx-1" style="font-weight: bold;">Mới nhất</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 p-1" ng-repeat="sp in dienthoais |limitTo:8:start">
              <a href="" style="text-decoration: none;">
                <div class="card h-100">
                  <img src="images/{{sp.anh}}" alt="" class="card-img-top">
                  <div class="card-body">
                    <p style="font-family: Arial, Helvetica, sans-serif;">{{sp.name}}</p>
                    <div class="row">
                      <p class="col-sm-9 text-danger" style="font-size: larger;"><strong>{{sp.giagiam |number}}đ</strong></p>
                      <p class="col-sm-3 border rounded-4 bg-danger text-center text-white">{{sp.phantramgiam}}</p>
                      <p class="col-sm-7 m-0 text-secondary"><strike>{{sp.giagoc |number}}đ</strike></p>
                      <button class="col-sm-5 rounded-5 btnx-1" ng-click="themvaogio(sp)"><i class="fa-solid fa-cart-shopping"></i> Mua </button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>  
        </div> 
        <div class="col-sm-2">
          <div class="card col-sm-12 mb-3">
            <div class="row">
              <div class="col-sm-12 m-2" style="font-family: Arial, Helvetica, sans-serif;">
                <h5><strong>Màu sắc</strong></h5>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Trắng</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Đen</small></label>                 
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Xám</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Xanh dương</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Đỏ</small></label>
                </div>
                
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Hồng</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Tím</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Xanh rêu</small></label>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-sm-12 my-3" style="font-family: Arial, Helvetica, sans-serif;">
            <div class="row">
              <div class="col-sm-12 m-2">
                <h5><strong>Hãng sản xuất</strong></h5>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Dell</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Apple</small></label>                 
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Asus</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Acer</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Lenovo</small></label>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-sm-12 my-3" style="font-family: Arial, Helvetica, sans-serif;">
            <div class="row">
              <div class="col-sm-12 m-2">
                <h5><strong>Giá</strong></h5>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Giá dưới 1.000.000₫</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>1.000.000₫ - 2.000.000₫</small></label>                 
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>2.000.000₫ - 3.000.000₫</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>3.000.000₫ - 5.000.000₫</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>5.000.000₫ - 7.000.000₫</small></label>
                </div>
                
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>7.000.000₫ - 10.000.000₫</small></label>
                </div>
                <div>
                  <input type="checkbox" name="" id="" class="form-check-input" id="formCheck">
                  <label for="formCheck" class="form-check-label text-secondary"><small>Giá trên 10.000.000₫</small></label>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  


    <div class="container my-2">
      <div class="col-sm-10">
        <ul class="pagination justify-content-center">
          <li class="page-item" ng-click="trangTruoc()"><a class="page-link" href="javascript:void(0);">Trước</a></li>
          <!-- <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li> -->
          <li class="page-item" ng-click="trangSau()"><a class="page-link" href="javascript:void(0);">Sau</a></li>
        </ul>
      </div>
    </div>


</body>
</html>

